<% include _layouts/header %>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/assets/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <% include _layouts/top_menu %>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <% include _layouts/sidebar %>
        <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Danh sách gói VAS
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <% include _layouts/breadcrumb %>
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="inbox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                                        <div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="far fa-list-alt"></i> Danh sách gói VAS </div>
                                                <div class="tools" style="margin-left: 10px;" style="align-content: right">
                                                    <a class="collapse"> </a>
                                                </div>
                                                <% if (user.role == 'admin') { -%>
                                                    <div class="actions" style="align-content: left">
                                                    <button type="button" class="btn btn-default btn-sm" id="adding_button" onclick="add_new()">
                                                        <i class="fas fa-plus"></i> Thêm mới gói VAS </button>
                                                    <button type="button" class="btn btn-default btn-sm" id="delete_button" onclick="del_vas()">
                                                        <i class="fas fa-trash"></i> Xóa gói VAS </button>
                                                    </div> 
                                                <% } -%>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1_2">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                    <input type="checkbox" class="checkboxes" value="1" disabled />
                                                                    <span></span>
                                                                    </label>
                                                                </th>
                                                                <th> Tên gói </th>
                                                                <th> Hình ảnh </th>
                                                                <th> Website mô tả chi tiết </th>
                                                                <th> Độ ưu tiên </th>
                                                                <th> Hành động </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                <% for (var i = 0; i < data.length ; i++) { -%>
                                                                	<tr class="odd gradeX" id="<%= data[i]._id %>">
	                                                                    <td>
	                                                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
	                                                                            <input id="<%= data[i]._id %>" type="checkbox" class="checkboxes" value="<%= data[i].package_code %>"/>
	                                                                            <span></span>
	                                                                        </label>
	                                                                    </td>
	                                                                    <td style="width: 15%"> <%= data[i].package_code %> </td>
                                                                        <td> <% if (link[i].indexOf("undefined") == -1) { -%>
                                                                            <img src="<%= link[i] %>" onError="this.onerror=null;this.src='/image/noimageavailable.png';"> </td>
                                                                        <% } -%> 
	                                                                    <td class="overme"> <a href="<%= data[i].description_link %>"><%= data[i].description_link %></a> </td>
                                                                        <td style="width: 15%;"> 
                                                                            <% if (data[i].priority == 2) { -%>
                                                                                <span class="label label-sm label-danger label-feedback"> Ưu tiên hiển thị </span>
                                                                            <% } -%>
                                                                            <% if (data[i].priority == 1) { -%>
                                                                                <span class="label label-sm label-warning label-feedback"> Hiển thị </span>
                                                                            <% } -%>
                                                                            <% if (data[i].priority == 0) { -%>
                                                                                <span class="label label-sm label-success label-feedback"> Không hiển thị </span>
                                                                            <% } -%>
                                                                        </td>
                                                                        <td style="width: 15%;">
                                                                            <% if (user.role == 'admin') { -%>
                                                                                <button id="<%= data[i]._id %>" type="button" class="btn btn-outline-danger enbEdit"> Chỉnh sửa </button>
                                                                            <% } else { -%>
                                                                                <button id="<%= data[i]._id %>" type="button" class="btn btn-outline-danger enbEdit"> Chi tiết </button>
                                                                            <% } -%>
                                                                        </td>
                                                                	</tr>
                                                                <% } -%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END SAMPLE TABLE PORTLET-->
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- Modal for edit package image -->
            <div id="myEditor" class="modal col-md-6 col-md-offset-3">
                <i class="far fa-times-circle close-modal"></i>
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <% if (user.role == 'admin') { -%>
                                <i class="far fa-edit"></i> Chỉnh sửa thông tin gói VAS
                            <% } else { -%>
                                <i class="far fa-edit"></i> Thông tin gói VAS
                            <% } -%>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="col-md-4" id="pk_image">
                            <img id="display_img" src="/image/noimageavailable.png;">
                        </div>
                        <div class="col-md-8 form" id="pk_info">
                            <form action="#" class="form-horizontal" id="image_data">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tên gói cước</label>
                                        <div class="col-md-7">
                                            <input type="text" id="ten_pk" name="ten_pk" class="form-control input-circle" placeholder="Tên gói">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Hình ảnh</label>
                                        <div class="col-md-7">
                                            <input type="text" id="image_name" name="image_name" class="form-control input-circle" placeholder="Tên hình ảnh">
                                        </div>
                                    </div>
                                    <% if (user.role == 'admin') { -%>
                                        <div class="form-group">
                                            <div class="col-md-7 col-md-offset-4">
                                                <input type="file" name="chooseFile" id="chooseFile" accept="image/*" style="display: none;">
                                                <input type="button" value="Lựa chọn ảnh khác..." onclick="document.getElementById('chooseFile').click();" />
                                            </div>
                                        </div>
                                    <% } -%>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Website mô tả chi tiết</label>
                                        <div class="col-md-7">
                                            <input type="text" id="des_link" name="des_link" class="form-control input-circle overme" placeholder="Đường dẫn mô tả">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mức độ ưu tiên</label>
                                        <div class="col-md-7">
                                            <select class="form-control input-circle" id="priority" name="priority"<% if (user.role != 'admin') { -%>
                                                disabled
                                            <% } -%> >
                                                    <option value=0>Không hiển thị</option>
                                                    <option value=1>Hiển thị</option>
                                                    <option value=2>Ưu tiên hiển thị</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <% if (user.role == 'admin') { -%>
                                    <div class="form-action col-md-2 col-md-offset-8" >
                                        <button type="button" id="save_change" class="btn btn-success">Lưu lại </button>
                                    </div>
                                <% } else { -%>
                                <hr>
                                    <div class="form-action col-md-2 col-md-offset-8" >
                                        <button type="button" id="save_change" class="btn btn-success" onclick="document.getElementsByClassName('close-modal')[0].click();">Đóng </button>
                                    </div>
                                <% } -%>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- END CONTAINER -->
    <% include _layouts/global_plugin %>
    <% include _layouts/socket %>
    <!-- SELF ADDING SCRIPT -->
    <script type="text/javascript">
        var cb_select = []
        var checkboxes = document.getElementsByClassName('checkboxes')
        for(let i of checkboxes){
            i.addEventListener('click', multi_select)
        }
        function multi_select(e){
            if(this.checked){
                cb_select.push(this.id)
            }else{
                var index = array.indexOf(this.id)
                if (index > -1) {
                  cb_select.splice(index, 1)
                }
            }
        }
        var enbEdits = document.getElementsByClassName("enbEdit")
        var modal = document.getElementById("myEditor")
        var pk_code, currentPK
        //update dữ liệu
        function update(){
            var save = {}
            var formData = new FormData(document.getElementById('image_data'))

            var data = {}
            for (var pair of formData.entries()) {
              data[pair[0]] = pair[1]
            }
            save.package_code = data.ten_pk
            save.image_name = data.image_name
            save.description_link = data.des_link
            save.priority = parseInt(data.priority)
            save.update_time = new Date().toISOString()
            console.log(save, currentPK)
            if(!deepCompare(save, currentPK)){
                swal({
                    title: "Xác nhận",
                    text: "Bạn có muốn lưu lại không?",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Hủy bỏ",
                    confirmButtonText: "Tiếp tục"
                })
                .then(function(result){
                    if(result.value){
                        axios.post("/manager/package/image/update/" + encodeURIComponent(pk_code),{
                            headers:{
                                'Content-Type': 'application/json'
                            },
                            data: save
                        })
                        .then(function (response) {
                            if(response.status == 200){
                                swal("Thành công!" ,"Cập nhật dữ liệu thành công!", "success", {
                                    showConfirmButton: false
                                })
                                setTimeout(function(){
                                    location.reload()
                                }, 1000) 
                            }
                        })
                        .catch(function(error){
                            console.error(error)
                            error_alert()
                        })
                    } 
                })
            }else{
                swal("Dữ liệu không thay đổi!", "", "info")
                return
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close-modal")[0]
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
            modal.style.display = "none"
            var other = document.getElementsByClassName("page-content")[0]
            other.style.filter = "blur(0)"
        }

        //compare before and after
        function deepCompare () {
          var i, l, leftChain, rightChain;

          function compare2Objects (x, y) {
            var p;

            if (isNaN(x) && isNaN(y) && typeof x === 'number' && typeof y === 'number') {
                 return true;
            }

            if (x === y) {
                return true;
            }

            if ((typeof x === 'function' && typeof y === 'function') ||
               (x instanceof Date && y instanceof Date) ||
               (x instanceof RegExp && y instanceof RegExp) ||
               (x instanceof String && y instanceof String) ||
               (x instanceof Number && y instanceof Number)) {
                return x.toString() === y.toString();
            }

            // At last checking prototypes as good as we can
            if (!(x instanceof Object && y instanceof Object)) {
                return false;
            }

            if (x.isPrototypeOf(y) || y.isPrototypeOf(x)) {
                return false;
            }

            if (x.constructor !== y.constructor) {
                return false;
            }

            if (x.prototype !== y.prototype) {
                return false;
            }

            // Check for infinitive linking loops
            if (leftChain.indexOf(x) > -1 || rightChain.indexOf(y) > -1) {
                 return false;
            }

            for (p in y) {
                if (y.hasOwnProperty(p) !== x.hasOwnProperty(p)) {
                    return false;
                }
                else if (typeof y[p] !== typeof x[p]) {
                    return false;
                }
            }

            for (p in x) {
                if (y.hasOwnProperty(p) !== x.hasOwnProperty(p)) {
                    return false;
                }
                else if (typeof y[p] !== typeof x[p]) {
                    return false;
                }

                switch (typeof (x[p])) {
                    case 'object':
                    case 'function':

                        leftChain.push(x);
                        rightChain.push(y);

                        if (!compare2Objects (x[p], y[p])) {
                            return false;
                        }

                        leftChain.pop();
                        rightChain.pop();
                        break;

                    default:
                        if (x[p] !== y[p]) {
                            return false;
                        }
                        break;
                }
            }

            return true;
          }

          if (arguments.length < 1) {
            return true; //Die silently? Don't know how to handle such case, please help...
            // throw "Need two or more arguments to compare";
          }

          for (i = 1, l = arguments.length; i < l; i++) {

              leftChain = []; //Todo: this can be cached
              rightChain = [];

              if (!compare2Objects(arguments[0], arguments[i])) {
                  return false;
              }
          }

          return true;
        }

        //xóa
        function del_vas(){
            if(cb_select.length < 1){
                swal("Chú ý", "Hãy chọn ít nhất một gói VAS để tiếp tục!", "info")
                return
            }

            swal({
                title: "Xác nhận",
                text: "Bạn có chắc chắn muốn xóa sản phẩm này?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Hủy bỏ",
                confirmButtonText: "Tiếp tục"
            })
            .then(function(result){
                if(result.value){
                    axios.post('/manager/package/delete/', {
                        headers:{
                            'Content-Type': 'application/json'
                        },
                        data: {
                            list: cb_select
                        }
                    })
                    .then(function(response){
                        if(response.status == 200){
                            swal("Thành công", "Đã xóa dữ liệu", "success", {showConfirmButton: false})
                            setTimeout(function(){
                                location.reload()
                            }, 500)
                        }
                    })
                    .catch(function(error){
                        console.error(error)
                        error_alert()
                    })
                }
            })
        }

        //xóa dữ liệu cũ trong div myEditor
        function reset(){
            var modal = document.getElementById("myEditor")
            modal.querySelectorAll('input').forEach(input => {
                if(input.type != 'button'){
                    input.value = ""
                }
            })
            modal.querySelector("img").src = undefined
        }

        //thêm mới
        function add_new(){
            //xóa toàn bộ dữ liệu sẵn có trong form
            reset()
            document.getElementById('display_img').src = '/image/noimageavailable.png'
            var modal = document.getElementById("myEditor")
            modal.style.display = 'block'
            var old_element = document.getElementById("chooseFile")
            var new_element = old_element.cloneNode(true)
            new_element.id = "chooseFile"
            old_element.parentNode.replaceChild(new_element, old_element)
            document.getElementById("chooseFile").addEventListener("change", function(e){
                var image = this.value.replace(/.*[\/\\]/, '')
                var code = pk_code
                var display = document.getElementById('image_name')
                var formData = new FormData()
                formData.append("package_image", e.target.files[0])
                var now = new Date().toISOString()
                axios.post('/manager/package/image/upload/' + encodeURIComponent(code), formData,
                    {
                        headers:{
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                .then(function(response){
                    if(response.status == 200){
                        display.value = response.data.filename
                        document.querySelector("#pk_image img").src = response.data.filelink
                    }
                })
                .catch(function(error){
                    error_alert()
                })
            })
            //hiển thị hình ảnh xem trước
            function readURL(e){
             
                // FileList object.
                var file = e.target.files[0]
             
                var fileReader = new FileReader()
             
             
                fileReader.onload = function(progressEvent) {
                    var url = fileReader.result
             
                    //
                    var myImg = document.getElementById("display_img");
                    myImg.src= url
                }
             
             
                // Read file asynchronously.
                fileReader.readAsDataURL(file); // fileReader.result -> UR
                var image = this.value.replace(/.*[\/\\]/, '')
                var code = pk_code
                var display = document.getElementById('image_name')
                display.value = image
            }
            document.getElementById("chooseFile").addEventListener("change", readURL)
            var old_element1 = document.getElementById("save_change")
            var new_element1 = old_element1.cloneNode(true)
            new_element1.id = "save_change"
            old_element1.parentNode.replaceChild(new_element1, old_element1)
            document.getElementById("save_change").addEventListener("click", create_new)
        }

        function create_new(){
            var save = {}
            var formData = new FormData(document.getElementById('image_data'))

            var data = {}
            for (var pair of formData.entries()) {
              data[pair[0]] = pair[1]
            }
            save.package_code = data.ten_pk
            save.image_name = data.image_name
            save.description_link = data.des_link
            save.priority = parseInt(data.priority)
            var now = new Date()
            save.create_time = now
            save.update_time = now
            axios.post('/manager/package/add-new', {
                headers:{
                    'Content-Type': 'multipart/form-data'
                },
                data: save
            })
            .then(function(response){
                if(response.status == 200){
                    swal("Thành công!", "Dữ liệu đã được lưu lại!", "success", {showConfirmButton: false})
                    setTimeout(function(){
                        location.reload()
                    }, 500)
                }
            })
            .catch(function(error){
                console.error(error)
                error_alert()
                // swal("Đã có lỗi", error.response, "error", {confirmButtonColor: 'red'})
            })
        }

    </script>
    <% if (user.role == 'admin') { -%>
        <script type="text/javascript">
            for(let i of enbEdits){
                i.addEventListener('click', function(){
                    var _id = this.id
                    axios.get('/manager/package/image/properties/' + encodeURIComponent(_id))
                    .then(function(response){
                        var res = response.data.result
                        delete response.data.result['_id']
                        currentPK = response.data.result
                        document.getElementById("ten_pk").value = res.package_code
                        document.getElementById("image_name").value = (res.image_name)?res.image_name:"Chưa có hình ảnh nào"
                        document.getElementById("des_link").value = (res.description_link)?res.description_link:""
                        document.getElementById("priority").value = res.priority
                        var img = document.getElementById('display_img')
                        img.src = response.data.image_link
                        img.addEventListener('error', function(e){
                            this.onerror=null;
                            this.src='/image/noimageavailable.png';
                        })
                        pk_code = res.package_code
                    })
                    .catch(function(error){
                        console.log(error)
                        error_alert()
                        return null
                    })
                    document.getElementById('myEditor').style.display = 'block'
                    var other = document.getElementsByClassName("page-content")[0]
                    other.style.filter = "blur(10px)"
                    var old_element = document.getElementById("chooseFile")
                    var new_element = old_element.cloneNode(true)
                    new_element.id = "chooseFile"
                    old_element.parentNode.replaceChild(new_element, old_element)
                    var old_element1 = document.getElementById("save_change")
                    var new_element1 = old_element1.cloneNode(true)
                    new_element1.id = "save_change"
                    old_element1.parentNode.replaceChild(new_element1, old_element1)
                    document.getElementById("save_change").addEventListener("click", update)
                    document.getElementById("chooseFile").addEventListener("change", function(e){
                        var image = this.value.replace(/.*[\/\\]/, '')
                        var code = pk_code
                        var display = document.getElementById('image_name')
                        var formData = new FormData()
                        formData.append("package_image", e.target.files[0])
                        axios.post('/manager/package/image/upload/' + encodeURIComponent(code), formData,
                            {
                                headers:{
                                    'Content-Type': 'multipart/form-data'
                                }
                            }
                        )
                        .then(function(response){
                            if(response.status == 200){
                                display.value = response.data.filename
                                document.querySelector("#pk_image img").src = response.data.filelink
                            }
                            else{
                                swal('Tải ảnh lên thất bại!', "", "error")
                            }       
                        })
                        .catch(function(error){
                            error_alert()
                        })
                    })
                })
            }
        </script>
    <% } else { -%>
        <script type="text/javascript">
        for(let i of enbEdits){
            i.addEventListener('click', function(){
                var _id = this.id
                axios.get('/manager/package/image/properties/' + encodeURIComponent(_id))
                .then(function(response){
                    var res = response.data.result
                    delete response.data.result['_id']
                    currentPK = response.data.result
                    document.getElementById("ten_pk").value = res.package_code
                    document.getElementById("image_name").value = (res.image_name)?res.image_name:"Chưa có hình ảnh nào"
                    document.getElementById("des_link").value = (res.description_link)?res.description_link:""
                    document.getElementById("priority").value = res.priority
                    var img = document.getElementById('display_img')
                    img.src = response.data.image_link
                    img.addEventListener('error', function(e){
                        this.onerror=null;
                        this.src='/image/noimageavailable.png';
                    })
                    pk_code = res.package_code
                })
                .catch(function(error){
                    console.log(error)
                    error_alert()
                    return null
                })
                document.getElementById('myEditor').style.display = 'block'
                var other = document.getElementsByClassName("page-content")[0]
                other.style.filter = "blur(10px)"
            })
        }
    </script>
    <% } -%>
    <!-- END OF SELF ADDING SCRIPT -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
<% include _layouts/footer %>