<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Chi tiết</title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
	<meta name="theme-color" content="#574E4E">
	<meta name="msapplication-TileColor" content="#574E4E">
	<meta name="msapplication-navbutton-color" content="#574E4E">
	<meta name="apple-mobile-web-app-status-bar-style" content="#574E4E">
	<link rel="shortcut icon" href="image.jpg">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1 class="display-4">BotkitCMS</h1>
	</header>
	<div class="container">
		<div class="row" id='div_button'>
			<div class="btn-group" role="group" aria-label="Button">
				<button type="button" class="btn btn-secondary btn-info" onclick="window.location.href='/'">Danh sách</button>
				<button type="button" class="btn btn-secondary btn-toolbar" onclick="window.location.href='/script/add'">Thêm script</button>
				<button type="button" class="btn btn-secondary btn-warning" onclick="window.location.href='/broadcast'">Tin nhắn hàng loạt</button>
			</div>
		</div>
		<div class="row" id="div_form">
			<form class="col-12 border-info">
				<div class="form-group row">
					<label for="inputID" class="col-sm-2 form-control-label"> Script ID </label>
					<div class="col-10">
						<input type="text" name="id" class="form-control" id="inputID" placeholder="ID" required value=<%= id %>>
					</div>
				</div>

				<div class="form-group" id="trigger_area">
				  	<div class="form-group row" id="original1">
				  		<label class="col-2" for="inputTrigger">Triggers</label>
						<input type="text" name="trigger" id="inputTrigger" value= <% trigger.join(', ') %>>
				  	</div>
				</div>
				
				<div>
					
				</div>
				<% if (type == 'text') { %>
					<%= include('/partials/text') %>	
				<% }  %>
				<% if (type == 'question') { %>
					<%- include('/partials/question') -%>	
				<% }  %>
				<% if (type == 'template') { %>
					<%- include('/partials/template') -%>	
				<% }  %>
				<% if (type == 'image') { %>
					<%- include('/partials/image') -%>	
				<% }  %>
				
				
			</form>
		</div>
	</div>
	<script type="text/javascript">
	</script>
</body>
</html>