<% include _layouts/header %>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<!-- END OF PAGE LEVEL PLUGIN -->
</header>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <% include _layouts/top_menu %>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <% include _layouts/sidebar %>
        <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Danh sách tỉnh thành
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <% include _layouts/breadcrumb %>
                    <!-- BEGIN PAGE BASE CONTENT -->
                     <!-- BEGIN TABLE OF DISTRICT -->
                    <!-- <div class="row" id="district_div" style="display: none;">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="far fa-list-alt"></i>Danh sách quận huyện trực thuộc
                                    </div>
                                    <div class="tools" style="margin-right: 10px;">
                                        <a class="collapse"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-responsive table-bordered table-hover" id="district_table">
                                        <thead>
                                            <tr>
                                                <th> STT </th>
                                                <th> Mã quận, huyện </th>
                                                <th> Tên quận, huyện </th>
                                                <th> Địa chỉ chi nhánh </th>
                                                <th> Đường dây nóng </th>
                                                <th> Thao tác </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div>
                    </div> -->
                    <!-- END OF TABLE OF DISTRICT -->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="far fa-list-alt font-dark"></i></i>
                                <span class="caption-subject bold uppercase"> Danh sách tỉnh thành </span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group" <% if (user.role != 'admin') { -%>
                                                            style= "display: none;"
                                                        <% } -%>>
                                            <button id="sample_editable_1_2_new" type="button" onclick="displayAdd()" class="btn sbold green"> Thêm mới
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1_2">
                                <thead>
                                    <tr>
                                        <th style="display: none;">
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="checkboxes" value="1" />
                                            <span></span>
                                            </label>
                                        </th>
                                        <th> Mã tỉnh thành </th>
                                        <th> Tên tỉnh thành </th>
                                        <th> Địa chỉ chi nhánh </th>
                                        <th> Đường dây nóng </th>
                                        <th> Thao tác </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < data.length; i++) { -%>
                                        <tr class="odd gradeX">
                                            <td style="display: none;">
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="checkboxes" value="1" />
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td><%= data[i].province_code %></td>
                                            <td><%= data[i].name %></td>
                                            <td><%= data[i].office_address %></td>
                                            <td><%= data[i].hotline %></td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Thao tác
                                                            <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-left" role="menu">
                                                        <li>
                                                            <a href="javascript:;" class="a_pro" id='<%= data[i]._id %>'>
                                                                <i class="fas fa-info-circle"></i>
                                                                <% if (user.role == 'admin') { -%>
                                                                    Xem chi tiết & chỉnh sửa
                                                                <% } else { -%>
                                                                    Xem chi tiết
                                                                <% } -%>
                                                                 </a>
                                                        </li>
                                                        <li <% if (user.role != 'admin') { -%>
                                                            style= "display: none;"
                                                        <% } -%>>
                                                            <a href="javascript:;" class="a_del" id='<%= data[i]._id %>'>
                                                                <i class="fas fa-trash"></i> Xóa bản ghi </a>
                                                        </li>
                                                        <li class="divider"> </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- BEGIN EDITING AND ADDING FORM -->
            <div id="myEditor" class="modal col-md-10 col-md-offset-1" style="background-color: transparent !important;">
                <i class="far fa-times-circle close-modal"></i>
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fas fa-info-circle"></i> Dữ liệu tỉnh thành </div>
                        <% if (user.role == 'admin') { -%>
                            <div class="actions" style="margin-right: 50px;">
                                <button type="button" onclick="enableEdit()" class="btn btn-default btn-sm">
                                    <i class="far fa-edit"></i> Sửa </button>
                            </div>
                        <% } -%>
                    </div>
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal" id="province_data" >
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên tỉnh thành</label>
                                <div class="col-md-4">
                                    <input type="text" id="name" name="name" class="form-control input-circle" placeholder="Tên tỉnh thành">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mã tỉnh thành</label>
                                <div class="col-md-4">
                                    <input type="text" id="province_code" name="province_code" class="form-control input-circle" placeholder="District code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên lãnh đạo</label>
                                <div class="col-md-4">
                                    <input type="text" id="pic_name" name="pic_name" class="form-control input-circle" placeholder="Tên lãnh đạo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">SĐT lãnh đạo</label>
                                <div class="col-md-4">
                                    <input type="text" id="pic_phone" name="pic_phone" class="form-control input-circle" placeholder="SĐT lãnh đạo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Địa chỉ trụ sở</label>
                                <div class="col-md-4">
                                    <input type="text" id="office_address" name="office_address" class="form-control input-circle" placeholder="Địa chỉ trụ sở">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">SĐT đường dây nóng</label>
                                <div class="col-md-4">
                                    <input type="text" id="hotline" name="hotline" class="form-control input-circle" placeholder="Hotline">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9" >
                                    <button id="save_change" type="button" onclick="updateProvince()" class="btn btn-circle green" disabled <% if (user.role != 'admin') { -%>
                                        style="display: none;"
                                    <% } -%>>Lưu thay đổi</button>
                                    <button type="button" class="btn btn-circle green" <% if (user.role == 'admin') { -%>
                                        style="display: none;"
                                    <% } -%> onclick="document.getElementsByClassName('close-modal')[0].click()"> Đóng </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    </div>
                </div>
            </div>
            <div id="myAdding" class="modal col-md-10 col-md-offset-1" style="background-color: transparent !important;">
                <i class="far fa-times-circle close-modal"></i>
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fas fa-info-circle"></i> Dữ liệu tỉnh thành </div>
                    </div>
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal" id="province_data" >
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên tỉnh thành</label>
                                <div class="col-md-4">
                                    <input type="text" id="name" name="name" class="form-control input-circle" placeholder="Tên tỉnh thành">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mã tỉnh thành</label>
                                <div class="col-md-4">
                                    <input type="text" id="province_code" name="province_code" class="form-control input-circle" placeholder="Mã tỉnh thành">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên lãnh đạo</label>
                                <div class="col-md-4">
                                    <input type="text" id="pic_name" name="pic_name" class="form-control input-circle" placeholder="Tên lãnh đạo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">SĐT lãnh đạo</label>
                                <div class="col-md-4">
                                    <input type="text" id="pic_phone" name="pic_phone" class="form-control input-circle" placeholder="SĐT lãnh đạo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Địa chỉ trụ sở</label>
                                <div class="col-md-4">
                                    <input type="text" id="office_address" name="office_address" class="form-control input-circle" placeholder="Office address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">SĐT đường dây nóng</label>
                                <div class="col-md-4">
                                    <input type="text" id="hotline" name="hotline" class="form-control input-circle" placeholder="Hotline">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="adding" type="button" onclick="addProvince()" class="btn btn-circle green">Lưu lại</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                    </div>
                </div>
            </div>
            <!-- END OF EDITING AND ADDING FORM -->
            <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
<script type="text/javascript">
    var myEditor = document.getElementById('myEditor')
    var myAdding = document.getElementById('myAdding')
    var a_pro = document.getElementsByClassName('a_pro')
    var a_del = document.getElementsByClassName('a_del')
    var select_id
    for(let i = 0; i < a_pro.length; i++){
        a_pro[i].addEventListener('click', getProperties)
        a_del[i].addEventListener('click', delProvince)
    }

    function showOut(items){
        var table_body = document.querySelector('table tbody')
        var a = items
        var index = 0
        for(let i of a){
            let row = table_body.insertRow(index)
            row.id = i._id
            row.classList.add('odd', 'gradeX')
            
            var cell0 = row.insertCell(0)
            var cell1 = row.insertCell(1)
            var cell2 = row.insertCell(2)
            var cell3 = row.insertCell(3)
            var cell4 = row.insertCell(4)
            var cell5 = row.insertCell(5)
            var cell6 = row.insertCell(6)
            
            cell0.innerHTML = index + 1
            cell1.innerHTML = (!i.district_code)?"N/A":i.district_code
            cell2.innerHTML = (!i.province_code)?"N/A":i.province_code
            cell3.innerHTML = (!i.name)?"N/A":i.name
            cell4.innerHTML = (!i.office_address)?"N/A":i.office_address
            cell5.innerHTML = (!i.hotline)?"N/A":i.hotline
            cell6.innerHTML = `<div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Thao tác
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a class="i._id" href="#" onclick="getProperties()"><i class="icon-docs"></i> Chi tiết </a>
                                        </li>
                                        <li>
                                            <a class="i._id" href="#" onclick="addDistrict()"><i class="icon-tag"></i> Thay đổi </a>
                                        </li>
                                        <li>
                                            <a class="i._id" href="#" onclick="delDistrict()"><i class="icon-user"></i> Xóa </a>
                                        </li>
                                    </ul>
                                </div>`
            
            index++
        }
    }

    function delProvince(e){
        var _id = this.id
        axios.get('/manager/province/districtlist/' + encodeURIComponent(this.id))
        .then(function(response){
            if(response.data.length != 0){
                console.log(response.data)
                swal("Chú ý", "Có dữ liệu quận, huyện trực thuộc. Không thể thực hiện thao tác này.", "warning")
            }else{
                swal({
                    title: "Xác nhận",
                    text: "Bạn chắc chắn muốn xóa bản ghi này?", 
                    showCancelButton: true,
                    confirmButtonText: "Tiếp tục",
                    cancelButtonText: "Hủy bỏ",
                    confirmButtonColor: 'orange',
                    type: "warning",
                    allowOutsideClick: false
                })
                .then(function(result){
                    if(result.value){
                        axios.delete('/manager/province/delete/' + encodeURIComponent(_id))
                        .then(function(response){
                            if(response.status == 200){
                                swal("Thành công!", "Xóa bản ghi thành công!", "success", {showConfirmButton: false})
                                setTimeout(function(){
                                    location.reload()
                                }, 500)
                            }
                        })
                        .catch(function(error){
                            console.error(error)
                            swal("Lỗi!", error.response.data, "error", {confirmButtonColor: 'red'})
                        })
                    }
                })
            }
        })  
        .catch(function(error){
            console.error(error)
            swal("Lỗi!", error.response.data, "error", {confirmButtonColor: 'red'})
        })
    }

    function updateProvince(){
        var formData = new FormData(document.querySelector('#myEditor #province_data'))
        var new_data = {}
        for (var pair of formData.entries()) {
            new_data[pair[0]] = (pair[1])?pair[1]:""
        }   
        axios.get('/manager/province/properties/' + encodeURIComponent(select_id))
        .then(function(response){
            if(response.status == 200){
                var _id = response.data._id
                delete(response.data._id)
                if(deepCompare(response.data, new_data)){
                    swal("Chú ý", "Dữ liệu không thay đổi!", "info")
                    return
                }else{
                    swal({
                        title: "Xác nhận",
                        text: "Bạn chắc chắn muốn lưu thay đổi?", 
                        showCancelButton: true,
                        confirmButtonText: "Tiếp tục",
                        cancelButtonText: "Hủy bỏ",
                        confirmButtonColor: 'orange',
                        type: "warning",
                        allowOutsideClick: false
                    })
                    .then(function(result){
                        if(result.value){
                            axios.post('/manager/province/update/' + encodeURIComponent(select_id), {
                                headers:{
                                    'Content-Type': 'application/json'
                                },
                                data: new_data
                            }).then(function(res){
                                if(res.status == 200){
                                    swal("Thành công!", "Thay đổi dữ liệu thành công!", "success", {showConfirmButton: false})
                                    setTimeout(function(){
                                        location.reload()
                                    }, 500)
                                }
                            }).catch(function(error){
                                console.error(error)
                                swal("Lỗi!", error.response.data, "error", {confirmButtonColor: 'red'})
                            })
                        }
                    })
                }
            }
        })
        .catch(function(error){
            console.error(error)
            swal("Lỗi!", error.response.data, "error", {confirmButtonColor: 'red'})
        })
    }

    function getProperties(e){
        var _id = this.id
        select_id = this.id
        axios.get('/manager/province/properties/' + encodeURIComponent(_id))
        .then(function(response){
            if(response.status == 200){
                var data = response.data
                displayEdit()
                var input = myEditor.querySelectorAll('input[type="text"]')
                input[0].value = data.name
                input[1].value = data.province_code
                input[2].value = data.pic_name
                input[3].value = data.pic_phone
                input[4].value = data.office_address
                input[5].value = data.hotline
                myEditor.querySelectorAll('input').forEach(input => input.disabled = true)
                myEditor.querySelectorAll('select').forEach(select => select.disabled = true)
            }
        })
        .catch(function(error){
            console.error(error)
            swal("Lỗi!", error.response.data, "error", {confirmButtonColor: 'red'})
        })
    }

    function enableEdit(){
        myEditor.querySelectorAll('input').forEach(input => {
            if(input.id != 'province_code')
                input.disabled = false
        })
        myEditor.querySelectorAll('select').forEach(select => select.disabled = false)
        myEditor.querySelector('#save_change').disabled = false
    }

    function scrollTo(element, to, duration) {
        if (duration <= 0) return
        var difference = to - element.scrollTop
        var perTick = difference / duration * 10

        setTimeout(function() {
            element.scrollTop = element.scrollTop + perTick
            if (element.scrollTop === to) return
            scrollTo(element, to, duration - 10)
        }, 10)
    }

    function displayAdd(){
        myAdding.style.display = 'block'
        var other = document.getElementsByClassName("page-content")[0]
        other.style.filter = "blur(10px)"
        other.blur()
        myAdding.focus()
        myAdding.querySelectorAll('input').forEach(input => input.value = "")
        myAdding.querySelectorAll('select').forEach(select => select.selectedIndex = 0)
        myAdding.style.display = 'block'
    }

    function displayEdit(){
        myEditor.style.display = 'block'
        var other = document.getElementsByClassName("page-content")[0]
        other.style.filter = "blur(10px)"
        other.blur()
        myEditor.focus()
        myEditor.querySelectorAll('input').forEach(input => input.value = "")
        myEditor.querySelectorAll('select').forEach(select => select.selectedIndex = 0)
        myEditor.style.display = 'block'
    }

    function closeForm(){
        myAdding.style.display = 'none'
    }

    function addProvince(){
        var formData = new FormData(document.querySelector('#myAdding #province_data'))
        var data = {}
        for (var pair of formData.entries()) {
            data[pair[0]] = (pair[1])?pair[1]:""
        }   
        
        axios.post('/manager/province/adding',{
            headers:{
                'Content-Type': 'application/json'
            },
            data: data
        }).then(function(response){
            if(response.status == 200){
                swal("Thành công!", "Thêm mới dữ liệu thành công!", "success", {showConfirmButton: false})
                setTimeout(function(){
                    location.reload()
                }, 500)
            }
        }).catch(function(error){
            console.error(error)
            swal("Lỗi!", error.response.data, "error", {confirmButtonColor: 'red'})
        })
    }

    function open_tab(){
        window.open('/manager/district', "_blank")
    }

    function deepCompare () {
        var i, l, leftChain, rightChain;

      function compare2Objects (x, y) {
        var p;

        if (isNaN(x) && isNaN(y) && typeof x === 'number' && typeof y === 'number') {
             return true;
        }

        if (x === y) {
            return true;
        }

        if ((typeof x === 'function' && typeof y === 'function') ||
           (x instanceof Date && y instanceof Date) ||
           (x instanceof RegExp && y instanceof RegExp) ||
           (x instanceof String && y instanceof String) ||
           (x instanceof Number && y instanceof Number)) {
            return x.toString() === y.toString();
        }

        // At last checking prototypes as good as we can
        if (!(x instanceof Object && y instanceof Object)) {
            return false;
        }

        if (x.isPrototypeOf(y) || y.isPrototypeOf(x)) {
            return false;
        }

        if (x.constructor !== y.constructor) {
            return false;
        }

        if (x.prototype !== y.prototype) {
            return false;
        }

        // Check for infinitive linking loops
        if (leftChain.indexOf(x) > -1 || rightChain.indexOf(y) > -1) {
             return false;
        }

        for (p in y) {
            if (y.hasOwnProperty(p) !== x.hasOwnProperty(p)) {
                return false;
            }
            else if (typeof y[p] !== typeof x[p]) {
                return false;
            }
        }

        for (p in x) {
            if (y.hasOwnProperty(p) !== x.hasOwnProperty(p)) {
                return false;
            }
            else if (typeof y[p] !== typeof x[p]) {
                return false;
            }

            switch (typeof (x[p])) {
                case 'object':
                case 'function':

                    leftChain.push(x);
                    rightChain.push(y);

                    if (!compare2Objects (x[p], y[p])) {
                        return false;
                    }

                    leftChain.pop();
                    rightChain.pop();
                    break;

                default:
                    if (x[p] !== y[p]) {
                        return false;
                    }
                    break;
                }
            }

            return true;
          }

          if (arguments.length < 1) {
            return true; //Die silently? Don't know how to handle such case, please help...
            // throw "Need two or more arguments to compare";
          }

          for (i = 1, l = arguments.length; i < l; i++) {

              leftChain = []; //Todo: this can be cached
              rightChain = [];

              if (!compare2Objects(arguments[0], arguments[i])) {
                  return false;
              }
          }

          return true;
    }

    //span close modal
    // Get the <span> element that closes the modal
    var spans = document.getElementsByClassName("close-modal")
    var modals = document.getElementsByClassName("modal")
    for(let i in spans){
        spans[i].onclick = function() { 
            modals[i].style.display = "none"
            var other = document.getElementsByClassName("page-content")[0]
            other.style.filter = "blur(0)"
        }
    }
    // When the user clicks on <span> (x), close the modal
</script>
<% include _layouts/global_plugin %>
<% include _layouts/socket %>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<% include _layouts/footer %>